:root {
    --white : #faf4f9;
    --blue : #0d80e9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    /* min-height: 200vh; */
    font-size: 16px;
    cursor: default;
    background: var(--white);
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: 500;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.btn {
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 4px;
}

.login-btn {
    color: var(--white);
    border: none;
    background: var(--blue) !important;
}

.signup-btn {
    background: var(--white);
    color: var(--blue);
}

.flex-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.flex-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* navigation */
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 80px;
    padding: 0 20px;
}

nav.primary-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: min(100%, 1300px);
    height: 100%;
}

nav.primary-navigation .image-container {
    height: 50px;
}

nav.primary-navigation .menu {
    margin: auto !important;
}

nav.primary-navigation .menu li {
    display: inline-block;
    width: 100px;
    text-align: center;
}

nav.primary-navigation .menu li a:hover {
    color: var(--blue);
    transition: 0.3s;
}

nav.primary-navigation .button a {
    width: 35px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
}


/* hero section */
section#hero {
    min-height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

section#hero .container {
    width: min(100%, 700px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
}

section#hero .container h1 {
    font-size: 2rem;
    color: var(--blue);
}

section#hero .container p {
    color: #5a5a5a;
}

section#hero .container .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

/* ad */
section#ad {
    background: var(--blue);
    color: white;
}

section#ad .container {
    width: min(100%, 1100px);
    margin: auto;
}

section#ad .container .image-container {
    width: min(100%, 400px);
    margin-top: -150px;
}

section#ad .container .text {
    width: min(100%, 500px);
    display: grid;
    grid-template-columns: auto;
    gap: 14px;
}

section#ad .container .text h3 {
    font-weight: 300;
    font-size: 2rem;
}